#assos_contact {
   background-color: $gray;
   //background-image: url(img/dashed1.jpg);
   //background-size: cover;
   //background-position: center center;
   text-align: center;
   a {
      text-align: center;
      span {
         font-size: 3em;
      }
   }
   .mapadress {
      width: 48%;
      img {
         width: 170px;
         margin-bottom: 20px;
      }
   }
   .contactform {
      padding: 25px;
      width: 50%;
      background-color: #fff;
   }
   .wpcf7 {
      margin-top: 40px;
      p {
         text-align: left;
      }

   }
}

@media screen and (max-width: 44.375em) {
      .mapadress, .contactform {
         float: none !important;
         display: block !important;
         width: inherit !important;
         margin-left: 0 !important;
         text-align: center !important;
      }
}
