#featured {
	position: relative;
	text-align: center;
	background-image: url(img/feature_bck.png);
	background-size: cover;
	//background-attachment:fixed;
	.wrapper_center {
		padding-top: 150px;
		max-width: 1000px;
	}
	.logo {
		padding-top: 50px;
		width: 500px;
		text-align: center;
		iframe {
			//border: 7px solid #fff;
			margin-bottom: 0;
		}
		img {
			width: 200px;
			//border-radius: 50%;
			//border: 15px solid rgba(254, 254, 254, 0.6);
			margin-bottom: 60px;
		}

	}
	.infos {
		margin-top: 30px;
		width: 500px;
		padding: 20px;
		background-color: rgba(254, 254, 254, 0.4);
		border: 1px solid rgba(254, 254, 254, 0.6);
	}
	h2 {
		text-transform: uppercase;
		margin-top: 20px;
		font-size: 2.2em;
		font-weight: bold;
		font-family: 'arual', serif;
	}
	.link {
		a span {
			color: $laggoon;
			font-size: 2em;
		}
	}
	.km {
		text-align: center;
		margin-bottom: 15px;
		.item {
			padding: 0 20px;
			display: inline-block;
			font-size: 4.8em;
			color: $mainMediumColor;
			letter-spacing: -1px;
			font-weight: bold;
			span {
				font-size: 0.3em;
				font-weight: 300;
			}
		}
		.item:last-child {
			margin-right: 0;
		}
	}
	.timeto {
		display: block;
		padding: 15px 30px;
		text-align: center;
		font-weight: lighter;
		//background-color: #fff;
		text-transform: uppercase;
		//color: $mainMediumColor;
		#clockdiv {
			line-height: 45px;
			font-weight: bolder;
			letter-spacing: -3px;
			//font-family: 'Pacifico', cursive;
			//font-family: 'Lato', sans-serif;
			display: block;
			margin: 0 8px;
			//background-color: $mainMediumColor;
			color: $laggoon;
			font-size: 3em;
		}
	}
}
