#featured {
	position: relative;
	text-align: center;
	background-image: url(img/feature_bck.png);
	background-size: cover;
	background-attachment:fixed;
	padding-bottom: 80px;
	.wrapper_center {
		padding-top: 150px;
	}
	.logo {
		width: 500px;
		text-align: center;
		img {
			width: 250px;
			border-radius: 50%;
			border: 15px solid rgba(34, 167, 240, 0.7);
		}
		h2 {
			margin-top: 20px;
			font-size: 1.8em;
			font-weight: bold;
			font-family: 'arual', serif;
		}
	}
	.infos {
		width: 50%;
		padding: 20px;
		background-color: rgba(254, 254, 254, 0.4);
	}
	.km {
		h4 {
				font-family: 'Oswald', sans-serif;
				font-weight: lighter;
		}
		text-align: center;
		.item {
			padding: 20px;
			display: inline-block;
			font-size: 3em;
			margin: 0 20px 0 0;
			font-size: 6em;
			// font-family: 'Lato', sans-serif;
			letter-spacing: -3px;
			font-weight: bold;
			span {
				font-family: 'Pacifico', cursive;
				font-size: 0.4em;
			}
		}
		.km1 {
			color: $mainMediumColor;
		}
		.item:last-child {
			margin-right: 0;
		}
	}
	.timeto {
		display: block;
		padding: 15px;
		text-align: center;
		color: #444;
		font-weight: lighter;
		#clockdiv {
			line-height: 45px;
			font-weight: bolder;
			letter-spacing: -3px;
			//font-family: 'Pacifico', cursive;
			//font-family: 'Lato', sans-serif;
			display: block;
			margin: 0 8px;
			//background-color: $mainMediumColor;
			color: $mainMediumColor;
			font-size: 3em;
		}
	}
}
