#assos_general {
	position: relative;
	background-color: #fff;
   h2 {
      color: $mainHightColor;
   }
   .title_section {
   	width: 33%;
   	text-align: center;
   	padding-bottom: 80px;
   	margin: 0 auto;
   }
   .left_infos {
   	float: left;
   	width: 24%;
   	text-align: center;
   	padding: 20px;
      border: 2px solid #eee;
   }
   .center_infos {
   	position: absolute;
   	bottom: 40px;
   	width: 50%;
   	left: 50%;
   	margin-left: -25%;
   	padding: 130px 20px;
   	text-align: center;
   	margin-bottom: -80px;
   	background-image: url(img/parc_bck.jpg);
   	background-size: cover;
      h2, h3 {
         color: #fff;
      }
   }
   .right_infos {
   	float: right;
   	padding: 20px;
   	width: 24%;
   	text-align: center;
      background-color: $strongBackground;
   }
}
