
#assos_general {
	position: relative;
	background-color: $gray;
	background-image: url(img/parc3_full_light.jpg);
	background-size: cover;
	background-attachment:fixed;
	color: #fff;
	text-align: center;
   .general {
		float: left;
		width: 24%;
		margin-right: 1.33%;
		padding: 15px;
		min-height: 400px;
		//border: 1px solid #fff;
		border-radius: 4px;
		background-color: rgba(0,0,0,0.8);
		.fa {
			display: inline-block;
			//width: 100px;
			//height: 100px;
			//line-height: 100px;
			//border-radius: 50%;
			font-size: 6em;
			margin: 15px 0 30px 0;
		}
		h2 {
			font-size: 1.2em;
		}
		h3 {
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		h3, h4 {
			color: #fff;
		}
	}
	.general.item1 {
		color: $pourquoi;
	}
	.general.item2 {
		color: $ou;
	}
	.general.item3 {
		color: $quand;
	}
	.general.item4 {
		color: $comment;
	}
	.general:last-child {
		margin-right: 0;
	}
	#home_blogpost {
		margin-top: 70px;
		h4 {
			//background-color: rgba(0, 0, 0, 0.8);
			color: #fff;
			margin-bottom: 20px;
			font-family: 'Oswald', sans-serif;
			text-align: left;
			font-size: 1.4em;
		}
		article:last-child {
			margin-right: 0;
			border-bottom: none;
		}

		article {
			background-color: rgba(254,254,254, 1);
			float: left;
			width: 32%;
			margin-right: 1%;
			min-height: 380px;
			.thumb {
				display: block;
				height: 250px;
				background-size: cover;
			}
			.content {
				padding: 20px;
				height: 200px;
			}
			.meta {
				text-align: left;
				.byline {
					display: block;
				}
				.posted-on {
					margin-bottom: 0;
				}
				span {
					display: inline-block;
					line-height: 0;
					a {
						font-size: 0.8em;
						color: #999;
					}
					.avatar {
						display: none;
					}
				}
				.comments-link {
					display: none;
				}
			}
			.post_header {
				h2 {
					text-align: left;
					font-size: 0.9em;
					a {
						color: $mainMediumColor;
					}
				}
			}
			.entry-summary {
				margin-bottom: 0;
			}
			p {
				font-size: 0.6em;
				font-weight: lighter;
				text-align: left;
			}
		}
	}
}

@media screen and (max-width: 800px) {
   .generals .general {
		display: block !important;
		float: none !important;
		width: 100% !important;
		margin-bottom: 20px;
		min-height: inherit !important;
	}
	.entry-summary {
		margin: 10px 0 !important;
		p {
			font-size: 0.9em !important;
		}
	}
	.right_infos {
		display: block !important;
		float: none !important;
		width: 100% !important;
		article {
			display: block !important;
			float: none !important;
			width: 100% !important;
			margin-bottom: 20px;
			min-height: inherit !important;
			a {
				margin: 0 0 20px 0 !important;
			}
			.content {
				height: inherit !important;
			}
		}
	}
}
