#assos_general {
	position: relative;
	background-color: $gray;
	background-image: url(img/parc3_full_light.jpg);
	background-size: cover;
	background-attachment:fixed;
	color: #fff;
	text-align: center;
   .accroche_section {
   	text-align: center;
		//border: 8px solid #fff;
		padding: 20px;
		background-color: rgba(0, 0, 0, 0.6);
		h2 {
			color: $orange;
         //background-color: $mainMediumColor;
			font-size: 1.5em;
			margin: 10px 0 2px 0;
			//font-family: 'Pacifico', cursive;
	   }
		h3 {
			font-size: 0.9em;
		}
   }
   .left_infos {
		width: 50%;
   	text-align: center;
   	padding: 20px;
		color: #fff;
      //background-color: $mainHightColor;
		font-weight: lighter;
		h4 {
			font-weight: lighter;
		}
   }
   .right_infos {
		width: 50%;
   	padding: 20px;
   	text-align: left;
      //background-color: #fff;
   }
	#home_blogpost {
		h4 {
			background-color: rgba(0, 0, 0, 1);
			color: #fff;
			padding: 15px;
		}
		article:last-child {
			margin-bottom: 0;
		}
		article:last-child {
			border-bottom: none;
		}
		article {
			padding: 10px;
			background-color: rgba(0, 0, 0, 0.8);
			border-bottom: 1px solid #222;
			.thumb {
				width: 20%;
				text-align: center;
				img {
					display: inline-block;
					width: 100px;
					height: 100px;
				}
			}
			.content {
				width: 80%;
				padding: 20px;
			}
			.meta {
				text-align: left;
				.byline {
					display: block;
				}
				.posted-on {
					margin-bottom: 0;
				}
				span {
					display: inline-block;
					line-height: 0;
					a {
						font-size: 0.8em;
						color: #999;
					}
					.avatar {
						display: none;
					}
				}
				.comments-link {
					display: none;
				}
			}
			.post_header {
				h2 {
					text-align: left;
					font-size: 0.9em;
					a {
						color: $mainHightColor;
					}
				}
			}
			.entry-summary {
				margin-bottom: 0;
			}
			p {
				font-size: 0.6em;
				font-weight: lighter;
				color: #fff;
				text-align: left;
			}
		}
	}
}
