#assos_inscriptions {
   text-align: center;
   background-color: $laggoon;
   .title_section {
		color: #fff;
	}
   .inscription:last-child {
      margin-right: 0;
   }
   .inscription {
      padding: 35px;
      width: 32%;
      margin: 0 2% 0 0;
      background-color: #fff;
      h2 {
         display: inline-block;
         margin-bottom: 20px;
         padding: 20px;
         width: 150px;
         height: 150px;
         line-height: 90px;
         border-radius: 50%;
         border-width: 10px;
         border-style: solid;
         font-size: 2em;
         border: 7px solid #cdcdcd;
      }
      p {
         font-size: 1em;
         margin-bottom: 40px;
         font-weight: light;
      }
      a {
         width: 150px;
         padding: 15px;
         color: #fff;
         background-color: $mainMediumColor;
      }
      a:hover {
         background-color: $mainMediumColor;
         color: #fff;
      }
   }
   .i1 h2 {
      color: #fff;
      background-color: $green;
   }
   .i2 h2 {
      color: #fff;
      background-color: $mainHightColor;
   }
   .i3 h2 {
      color: #fff;
      background-color: $orange;
   }
}
