.archive {
   background-color: $gray !important;
   article {
      padding: 20px;
      background-color: #fff;
      margin-bottom: 10px !important;
      p {
         font-size: 0.8em;
         line-height: 1.75em;
         color: #1A1A1B;
      }
   }

}
.archive {

   .logo_wrapper {
      text-align: center;
      margin-bottom: 40px;
      a {
         display: inline-block;
      }
      img {
         width: 200px;
      }
   }
   margin: 0 auto;
   max-width: 1300px;
   aside section {
      background-color: #fff;
      border: none;
      padding: 20px;
      margin-bottom: 0;
   }
   .post-navigation {
      border: none;
      background-color: $gray;
      padding: 5px 20px;
   }
   .page-header {
      background-color: $gray;
      padding: 20px !important;
      margin-bottom: 10px !important;
   }
   .post-thumbnail {
      text-align: center;
      img {
         max-height: 250px;
         width: auto;
         display: inline-block;
         margin: 0;
      }
   }
   h1 {
      font-family: 'Oswald', sans-serif;
		font-size: 2em;
      font-weight: 300;
   }
   h2 {
      font-family: 'arual', serif;
		font-weight: bold;
		font-size: 2.9em;
      border-bottom: 1px solid #444;
   }
   .entry-header {
      margin-top: 50px;
   }
   .entry-content, .entry-footer {
      width: 100% !important;
      float: none !important;
      margin: 0 !important;
   }
   .page-header {
      border-top: none;
   }
   .entry-summary {
      margin-bottom: 0 !important;
      p {
         color: #444;
         font-family: 'Open Sans', sans-serif !important;
      }
   }
   .entry-footer {
      background-color: $mainMediumColor;
      color: #fff;
      padding: 10px;
      text-align: center;
      a {
         color: #fff;
      }
   }
   .thumb {
      display: block;
      height: 400px;
      //background-size: cover;
      background-clip: content-box;
   }
   .comment-reply-title {
      border-top: 1px dashed #666 !important;
   }
   .comment-body {
      background-color: #fff;
      padding: 20px;
   }
   #comments {
      border: none !important;
      background-color: $gray;
      padding: 20px;
      margin-bottom: 0;
      .comments-title {
         border: none;
      }
   }
}

@media screen and (max-width: 44.375em) {
.archive {
   .sidebar {
      display: none !important;
   }
   h2 {
      margin-top: 20px;
   }
   .entry-header, .entry-summary, .post-thumbnail, .page-header {
      margin: 0 !important;
   }
}
}
