#main_menu {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10000;
   //background-color: rgba(254, 254, 254, 0.8);
   .wrapper_center {
      padding: 10px 0;
   }
   img {
      height: 60px;
   }
   .menu {
      text-align: right;
      .item {
         display: inline-block;
      }
   }
   a {
      //font-family: 'Slabo 27px', serif;
      height: 60px;
      line-height: 60px;
      color: $laggoon;
      margin-left: 15px;
   }
   a:hover {
      color: $mainMediumColor;
   }
}

@media screen and (max-width: 800px) {
   #page {
      width: 100%;
   }
   .wrapper_center {
      max-width: 100% !important;
   }
   #main_menu {
      .left {
         float: none !important;
         display: block !important;
         margin-left: 0 !important;

         img {
            display: inline-block;
         }
      }
      .menu {
         display: none;
      }
   }
}
