#assos_map {
   text-align: center;
   background-color: $strongBackground;
   color: #fff;
   .center_infos {
      background-color: #111;
      color: #fff;
      padding: 20px;
   }
   #map {
      border: 10px solid #111;
   }
}
