#assos_map::before {
	-webkit-clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%);

	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
   background-color: $strongBackground;
}

#assos_map {
   position: relative;
   text-align: center;

   color: #fff;
   .center_infos {
      //background-color: #111;
      color: #fff;
      margin-bottom: 10px
   }
   #map {
      //border: 50px solid #111;
   }
}
