#assos_map {
   text-align: center;
   background-color: $strongBackground;
   color: #fff;
   .center_infos {
      //background-color: #111;
      color: #fff;
      margin-bottom: 10px
   }
   #map {
      //border: 50px solid #111;
   }
}
