#assos_network {
   text-align: center;
   background-color: $mainHightColor;
   .wrapper_center {
      padding: 40px 0 40px 0;
   }
   span {
      font-size: 3.1em;
   }
   a:hover {
      color: #fff;
   }
}
