.single_blog {
   a {
      color: $mainMediumColor;
   }
   .logo_wrapper {
      text-align: center;
      margin-bottom: 40px;
      a {
         display: inline-block;
      }
      img {
         width: 200px;
      }
   }
   margin: 0 auto;
   max-width: 1300px;
   aside section {
      background-color: #fff;
      border: none;
      margin-bottom: 0;
   }
   .post-navigation {
      border: none;
      background-color: $gray;
      padding: 5px 20px;
   }
   h1 {
      font-family: 'arual', serif;
		font-weight: bold;
		font-size: 2.9em;
   }
   .entry-footer {
      border: 1px solid $gray;
      padding: 10px;
      text-align: center;
      span {
         display: block !important;
      }
      img {
         display: inline-block !important;
      }
   }
   .post-thumbnail {
      text-align: center;
      img {
         display: inline-block !important;
         max-width: 100%;
      }
   }
   .comment-reply-title {
      border-top: 1px dashed #666 !important;
   }
   .comment-body {
      background-color: #fff;
      padding: 20px;
   }
   #comments {
      border: none !important;
      background-color: $gray;
      padding: 20px;
      margin-bottom: 0;
      .comments-title {
         border: none;
      }
   }
}
